<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="card.css">
    <title>Document</title>
</head>
<body>
    <%for(var i = 0 ; i < sourcees.length; i++){%>
    <div class="courses-container">
        <div class="course">
            <div class="course-preview">
            
                <h2 id='side'>Trip Details</h2>
            </div>
            <div class="course-info">
                
                <h3>Source:<%=sourcees[i]%> </h3>
                <h3>Destination:<%=destinatiions[i]%></h3>
                <h3>Time&Date:<%=datees[i]%></h3>
                </div>
        </div>
    </div>
<%}%>
    
    
    
</body>
</html>